In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("diabetes.csv")
df.head()

,id,chol,stab.glu,hdl,ratio,glyhb,location,age,gender,height,weight,frame,bp.1s,bp.1d,waist,hip
0,1000,203.0,82,56.0,3.6,4.31,Buckingham,46,female,62.0,121.0,medium,118.0,59.0,29.0,38.0
1,1001,165.0,97,24.0,6.9,4.44,Buckingham,29,female,64.0,218.0,large,112.0,68.0,46.0,48.0
2,1002,228.0,92,37.0,6.2,4.64,Buckingham,58,female,61.0,256.0,large,190.0,92.0,49.0,57.0
3,1003,78.0,93,12.0,6.5,4.63,Buckingham,67,male,67.0,119.0,large,110.0,50.0,33.0,38.0
4,1005,249.0,90,28.0,8.9,7.72,Buckingham,64,male,68.0,183.0,medium,138.0,80.0,44.0,41.0

In [10]:
df.dropna(inplace=True)

In [11]:
from sklearn.preprocessing import LabelEncoder

In [12]:
df['location'].value_counts()

Louisa        191
Buckingham    176
Name: location, dtype: int64

In [13]:
df['frame'].value_counts()

medium    173
small      98
large      96
Name: frame, dtype: int64

In [14]:
lbl_enc = LabelEncoder()
df['frame_enc'] = lbl_enc.fit_transform(df['frame'])

In [15]:
df.head()

,id,chol,stab.glu,hdl,ratio,glyhb,location,age,gender,height,weight,frame,bp.1s,bp.1d,waist,hip,frame_enc
0,1000,203.0,82,56.0,3.6,4.31,Buckingham,46,female,62.0,121.0,medium,118.0,59.0,29.0,38.0,1
1,1001,165.0,97,24.0,6.9,4.44,Buckingham,29,female,64.0,218.0,large,112.0,68.0,46.0,48.0,0
2,1002,228.0,92,37.0,6.2,4.64,Buckingham,58,female,61.0,256.0,large,190.0,92.0,49.0,57.0,0
3,1003,78.0,93,12.0,6.5,4.63,Buckingham,67,male,67.0,119.0,large,110.0,50.0,33.0,38.0,0
4,1005,249.0,90,28.0,8.9,7.72,Buckingham,64,male,68.0,183.0,medium,138.0,80.0,44.0,41.0,1

In [16]:
df['frame_enc'].value_counts()

1    173
2     98
0     96
Name: frame_enc, dtype: int64

In [21]:
from sklearn.preprocessing import OneHotEncoder

In [24]:
oh = OneHotEncoder()
frame_oh_enc = oh.fit_transform(df[['gender']])

ValueError: could not convert string to float: 'female'