* TARGET_deathRate: Dependent variable. Mean per capita (100,000) cancer mortalities(a)
* avgAnnCount: Mean number of reported cases of cancer diagnosed annually(a)
* avgDeathsPerYear: Mean number of reported mortalities due to cancer(a)
* incidenceRate: Mean per capita (100,000) cancer diagoses(a)
* medianIncome: Median income per county (b)
* popEst2015: Population of county (b)
* povertyPercent: Percent of populace in poverty (b)
* studyPerCap: Per capita number of cancer-related clinical trials per county (a)
* binnedInc: Median income per capita binned by decile (b)
* MedianAge: Median age of county residents (b)
* MedianAgeMale: Median age of male county residents (b)
* MedianAgeFemale: Median age of female county residents (b)
* Geography: County name (b)
* AvgHouseholdSize: Mean household size of county (b)
* PercentMarried: Percent of county residents who are married (b)
* PctNoHS18_24: Percent of county residents ages 18-24 highest education attained: less than high school (b)
* PctHS18_24: Percent of county residents ages 18-24 highest education attained: high school diploma (b)
* PctSomeCol18_24: Percent of county residents ages 18-24 highest education attained: some college (b)
* PctBachDeg18_24: Percent of county residents ages 18-24 highest education attained: bachelor's degree (b)
* PctHS25_Over: Percent of county residents ages 25 and over highest education attained: high school diploma (b)
* PctBachDeg25_Over: Percent of county residents ages 25 and over highest education attained: bachelor's degree (b)
* PctEmployed16_Over: Percent of county residents ages 16 and over employed (b)
* PctUnemployed16_Over: Percent of county residents ages 16 and over unemployed (b)
* PctPrivateCoverage: Percent of county residents with private health coverage (b)
* PctPrivateCoverageAlone: Percent of county residents with private health coverage alone (no public assistance) (b)
* PctEmpPrivCoverage: Percent of county residents with employee-provided private health coverage (b)
* PctPublicCoverage: Percent of county residents with government-provided health coverage (b)
* PctPubliceCoverageAlone: Percent of county residents with government-provided health coverage alone (b)
* PctWhite: Percent of county residents who identify as White (b)
* PctBlack: Percent of county residents who identify as Black (b)
* PctAsian: Percent of county residents who identify as Asian (b)
* PctOtherRace: Percent of county residents who identify in a category which is not White, Black, or Asian (b)
* PctMarriedHouseholds: Percent of married households (b)
* BirthRate: Number of live births relative to number of women in county (b)

In [73]:
import pandas as pd
import numpy as np
from itertools import combinations
from itertools import permutations

In [74]:
# Let's start by examining the dataset
df = pd.read_excel('cancer_reg.xlsx')
df.head()

,avgAnnCount,avgDeathsPerYear,TARGET_deathRate,incidenceRate,medIncome,popEst2015,povertyPercent,studyPerCap,binnedInc,MedianAge,...,PctPrivateCoverageAlone,PctEmpPrivCoverage,PctPublicCoverage,PctPublicCoverageAlone,PctWhite,PctBlack,PctAsian,PctOtherRace,PctMarriedHouseholds,BirthRate
0,1397.0,469,164.9,489.8,61898,260131,11.2,499.748204,"(61494.5, 125635]",39.3,...,NaN,41.6,32.9,14.0,81.780529,2.594728,4.821857,1.843479,52.856076,6.118831
1,173.0,70,161.3,411.6,48127,43269,18.6,23.111234,"(48021.6, 51046.4]",33.0,...,53.8,43.6,31.1,15.3,89.228509,0.969102,2.246233,3.741352,45.372500,4.333096
2,102.0,50,174.7,349.7,49348,21026,14.6,47.560164,"(48021.6, 51046.4]",45.0,...,43.5,34.9,42.1,21.1,90.922190,0.739673,0.465898,2.747358,54.444868,3.729488
3,427.0,202,194.8,430.4,44243,75882,17.1,342.637253,"(42724.4, 45201]",42.8,...,40.3,35.0,45.3,25.0,91.744686,0.782626,1.161359,1.362643,51.021514,4.603841
4,57.0,26,144.4,350.1,49955,10321,12.5,0.000000,"(48021.6, 51046.4]",48.3,...,43.9,35.1,44.0,22.7,94.104024,0.270192,0.665830,0.492135,54.027460,6.796657

In [75]:
df.shape

(3047, 34)

In [76]:
df.dtypes

avgAnnCount                float64
avgDeathsPerYear             int64
TARGET_deathRate           float64
incidenceRate              float64
medIncome                    int64
popEst2015                   int64
povertyPercent             float64
studyPerCap                float64
binnedInc                   object
MedianAge                  float64
MedianAgeMale              float64
MedianAgeFemale            float64
Geography                   object
AvgHouseholdSize           float64
PercentMarried             float64
PctNoHS18_24               float64
PctHS18_24                 float64
PctSomeCol18_24            float64
PctBachDeg18_24            float64
PctHS25_Over               float64
PctBachDeg25_Over          float64
PctEmployed16_Over         float64
PctUnemployed16_Over       float64
PctPrivateCoverage         float64
PctPrivateCoverageAlone    float64
PctEmpPrivCoverage         float64
PctPublicCoverage          float64
PctPublicCoverageAlone     float64
PctWhite                   float64
PctBlack                   float64
PctAsian                   float64
PctOtherRace               float64
PctMarriedHouseholds       float64
BirthRate                  float64
dtype: object

In [77]:
df['Geography'].value_counts()

Monroe County, Missouri          1
Hancock County, West Virginia    1
Delta County, Michigan           1
Jersey County, Illinois          1
Lawrence County, Ohio            1
                                ..
Rappahannock County, Virginia    1
Fayette County, Indiana          1
Charles City County, Virginia    1
Franklin County, Idaho           1
Hancock County, Kentucky         1
Name: Geography, Length: 3047, dtype: int64

In [78]:
def extract_state(geography):
    arr = geography.split(',')
    return arr[-1].strip()

In [79]:
df['State'] = df['Geography'].apply(extract_state)

In [80]:
df.drop(['binnedInc','Geography'], axis=1, inplace=True)
df.dropna(inplace=True)

In [81]:
df.head()

,avgAnnCount,avgDeathsPerYear,TARGET_deathRate,incidenceRate,medIncome,popEst2015,povertyPercent,studyPerCap,MedianAge,MedianAgeMale,...,PctEmpPrivCoverage,PctPublicCoverage,PctPublicCoverageAlone,PctWhite,PctBlack,PctAsian,PctOtherRace,PctMarriedHouseholds,BirthRate,State
1,173.0,70,161.3,411.6,48127,43269,18.6,23.111234,33.0,32.2,...,43.6,31.1,15.3,89.228509,0.969102,2.246233,3.741352,45.372500,4.333096,Washington
3,427.0,202,194.8,430.4,44243,75882,17.1,342.637253,42.8,42.2,...,35.0,45.3,25.0,91.744686,0.782626,1.161359,1.362643,51.021514,4.603841,Washington
4,57.0,26,144.4,350.1,49955,10321,12.5,0.000000,48.3,47.8,...,35.1,44.0,22.7,94.104024,0.270192,0.665830,0.492135,54.027460,6.796657,Washington
7,146.0,71,183.6,404.0,40189,20848,17.8,0.000000,51.7,50.8,...,25.9,50.9,24.1,89.406636,0.305159,1.889077,2.286268,48.967033,5.889179,Washington
14,2265.0,901,171.0,440.7,50083,490945,16.3,462.373586,37.2,35.7,...,42.5,36.5,21.4,89.038167,1.827041,2.315986,1.033625,48.188377,5.355836,Washington

In [82]:
from sklearn.preprocessing import LabelEncoder
def label_encode(df, columns):
    for col in columns:
        le = LabelEncoder()
        col_values_unique = list(df[col].unique())
        le_fitted = le.fit(col_values_unique)
 
        col_values = list(df[col].values)
        #le.classes_
        col_values_transformed = le.transform(col_values)
        df[col] = col_values_transformed

In [83]:
X = df.drop('TARGET_deathRate', axis=1)
label_encode(X, ['State'])
y = df[['TARGET_deathRate']]

In [84]:
X.dtypes

avgAnnCount                float64
avgDeathsPerYear             int64
incidenceRate              float64
medIncome                    int64
popEst2015                   int64
povertyPercent             float64
studyPerCap                float64
MedianAge                  float64
MedianAgeMale              float64
MedianAgeFemale            float64
AvgHouseholdSize           float64
PercentMarried             float64
PctNoHS18_24               float64
PctHS18_24                 float64
PctSomeCol18_24            float64
PctBachDeg18_24            float64
PctHS25_Over               float64
PctBachDeg25_Over          float64
PctEmployed16_Over         float64
PctUnemployed16_Over       float64
PctPrivateCoverage         float64
PctPrivateCoverageAlone    float64
PctEmpPrivCoverage         float64
PctPublicCoverage          float64
PctPublicCoverageAlone     float64
PctWhite                   float64
PctBlack                   float64
PctAsian                   float64
PctOtherRace               float64
PctMarriedHouseholds       float64
BirthRate                  float64
State                        int64
dtype: object

In [95]:
def create_column_combinations(num_of_combinations):
    comb_list = []
    for i in range(1, num_of_combinations):
        comb_list = comb_list + list(combinations(X.columns, i))
    
        return comb_list

In [96]:
# To split the dataset into train and test datasets
from sklearn.model_selection import train_test_split

from sklearn.neighbors import KNeighborsRegressor

import matplotlib.pyplot as plt
%matplotlib inline

In [97]:
def train_model(features, target):
    features_train, features_test, target_train, target_test = train_test_split(features, target, test_size = 0.2, random_state = 10)
    model = KNeighborsRegressor(n_neighbors=3)
    model.fit(features_train, target_train)
    score = model.score(features_test, target_test)
    return score

In [110]:
accuracy_scores = []
comb_list = create_column_combinations(4)
print(comb_list)
for cols in comb_list:
    cols_list = list(cols)
    features = X[cols_list]
    target = y
    model_score = train_model(features, target)
    temp = [str(cols_list), model_score]
    accuracy_scores.append(temp)

[('avgAnnCount',), ('avgDeathsPerYear',), ('incidenceRate',), ('medIncome',), ('popEst2015',), ('povertyPercent',), ('studyPerCap',), ('MedianAge',), ('MedianAgeMale',), ('MedianAgeFemale',), ('AvgHouseholdSize',), ('PercentMarried',), ('PctNoHS18_24',), ('PctHS18_24',), ('PctSomeCol18_24',), ('PctBachDeg18_24',), ('PctHS25_Over',), ('PctBachDeg25_Over',), ('PctEmployed16_Over',), ('PctUnemployed16_Over',), ('PctPrivateCoverage',), ('PctPrivateCoverageAlone',), ('PctEmpPrivCoverage',), ('PctPublicCoverage',), ('PctPublicCoverageAlone',), ('PctWhite',), ('PctBlack',), ('PctAsian',), ('PctOtherRace',), ('PctMarriedHouseholds',), ('BirthRate',), ('State',)]

In [111]:
accuracy_scores = pd.DataFrame(accuracy_scores, columns=['COL_NAMES','SCORE'])

In [112]:
accuracy_scores.sort_values('SCORE', ascending=False).head()

                     COL_NAMES     SCORE
31                   ['State']  0.162519
19    ['PctUnemployed16_Over'] -0.043139
2            ['incidenceRate'] -0.067519
18      ['PctEmployed16_Over'] -0.070944
24  ['PctPublicCoverageAlone'] -0.083223